* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
}
html {
  --bg-color: #f2f2f2;
  --light-gray: #b3b3b3;
  --main-black: #404040;
  --text-color: #5e5e5e;
}

html[data-theme='dark'] {
  --bg-color: #333;
  --light-gray: #fff;
  --main-black: #fff;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

.header {
  padding: 30px 15px;
  position: relative;
  width: 100%;
}

.menu-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}

.btn-menu {
  color: var(--main-black);
  cursor: pointer;
  font-size: 1.9rem;
  margin-left: 20px;
}
.navigation {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  background: ;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
  color: var(--main-black);
  list-style-type: none;
  margin-top: ;
  padding: 10px;
  visibility: hidden;
}
.menu-item {cursor: pointer;}

.menu-item:not(:last-child) {margin-bottom: 10px;}

.show-menu {visibility: visible;}

.creator-wrapper {
	margin: 0 auto;
	padding: 50px 20px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	margin: auto auto 50px;
	max-width: 700px;
}
.user-input,
.btn-create {
  background: none;
	border: 1px solid var(--light-gray);
	border-radius: 5px;
  color: var(--text-color);
	height: 35px;
}
::placeholder {color: var(--text-color);}

.user-input {
	flex-grow: 10;
	padding-left: 8px;
}
.btn-create {
	cursor: pointer;
	flex-grow: 1;
	font-weight: bold;
	margin-left: 20px;
	transition: ease .4s;
}
.btn-create:hover {
	background: var(--main-black);
	color: #fff;
}

#tasks-to-do,
#done-tasks {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 600px;
}
.list-item {
	border: 1px solid var(--main-black);
	border-radius: 5px;
	color: var(--text-color);
	margin-bottom: 10px;
	padding: 8px;
	position: relative;
	width: 100%;
}

.task-done {
	border: ;
	color: #;
  order: 500;
	opacity: .5;
	text-decoration: line-through;
}
.task-deleted {display: none;}

.btn-check,
.btn-delete {
	color: var(--main-black);
	cursor: pointer;
	position: absolute;
	right: 8px;
}

.btn-check:hover {color: #63EB8E;}

.btn-delete:hover {color: #FC4151;}

.btn-check {margin-right: 30px;}
.copy {text-align: center;}

.copy,
.copy-link {color: #ccc;}

.footer {
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
}

/* Dark Mode */
.dark-mode {
  background: #111;
}

/* About page */
.about {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: var(--main-black);
  display: none;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.about-wrapper {
  align-items:  center;
  background-color: var(--bg-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 700px;
}
.about h2 {font-size: 20px;}
.about a {
  color: var(--main-black);
  font-size: 14px;
  text-decoration: none;
}

.about p {font-size: 14px;}
.about-logo {margin-bottom: 15px;}

.about-title {font-size: 18px; margin: 15px 0 3px;}

.btn-close {
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 40px;
}
